<h1> Calculare squre root of a number</h1>

<form acrtio="/square_root/results">
  <label> Enter a number </label>
  <input type="text name="users_number">
  <button>Calculate square root</button>
</form>
