<h1> Calculate monthly payment</h1>

<form action="/payment/results">
  <label for="dolphin"> APR </label>
  <input id="dolphin" type="text" name="users_number1">

  <label for="wasp"> Number of years </label>
  <input id="wasp" type="text" name="users_number2">

  <label for="bee"> Principal </label>
  <input id="bee" type="text" name="users_number3">
  <button>Calculate monthly payment</button>
</form>
