<h1> Random Results </h1>

<form action="/random/results">
  <label for="elephant"> Minimum </label>
  <input id="elephant" type="text" name="users_number1">

  <label for="seal"> Maximum </label>
  <input id="seal" type="text" name="users_number2">

  <button>Pick random number</button>
</form>
